.cs-btn-toolbar {
    padding-top: 20px;
}

.col-md-2 {
    width: 16.66666667%;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}
.col-md-9 {
    width: 75%;
}
.col-md-12 {
    width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}







