#Header{
    min-width: 1280px;
}
#MenuMainCategories {
    width: 100%;
    clear: both;
}

#Header.navbar.navbar-default{
    background: #EDEFF1;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

#TopMenuContainer {
    height: 110px;
}

#MainLogo {
    width: 250px;
    height: 100%;
    float: left;
}

#BANNER {
    width: 100%;
    height: 100%;
    background: url("../Content/banner2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#MainUserPanel {
    float: right;
    height: 100%;
    width: calc(100% - 250px);
}

#MenuSpacer {
    width: 100%;
    height: 30px;
}

#MenuControlsPanel {
    height: calc(100% - 30px);
    width: 100%;
}

#SearchBarPanel {
    float: left;
    width: 60%;
    height: 100%;
}

#UserPanel {
    float: right;
    width: 40%;
    height: 100%;
}

#SearchBarMenu {
    width: 400px;
    margin: 20px auto;
}

#UserProfile{
    margin: 10px 10px;
    width: 150px;
    height: 60px;
    float: left;
    color: #636363;
}

#UserCart{
    margin: 10px 10px;
    width: 150px;
    height: 60px;
    color: #636363;
    float: left;
}

#UserProfile:hover ,#UserCart:hover{
    color: #2b2727;
}

#MainContainerModal{
    display:none;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
}

#MainModalContent{
    /*width: 250px;*/
    word-wrap: break-word;
    height: 250px;
    background-color: rgb(255, 255, 255);
}
